/*.table_mastergrid th:first-child {*/

/*
ADD8E6  lightblue, BODY
6ACBEA  toy blue, accents
2E5966  emerald green, dark accents
87A8B3  sea blue, bars/dividers
58CB75  chartreuse, bright
8DC8C7  mint green
85BEAD  sage green

/////////
#F29D35   terracotta
*/
/*.chart div {*/
  /*font: 10px sans-serif;*/
  /*background-color: steelblue;*/
  /*text-align: right;*/
  /*padding: 3px;*/
  /*margin: 1px;*/
  /*color: white;*/
/*}*/



h4 {
    /*border: 1px solid black;*/
    text-align: center;
}

.table_header{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin:auto;


}


.table_mastergrid {
    /*border: 1px solid black;*/
    display: table;
    text-align: center;

}


/*}*/
.table_country_detail  {
    /*display: table;*/
    /*text-align: center!important;*/
    /*border-spacing: 0.5rem!important;*/
    /*border-collapse: collapse !important;*/
    /*align-content: left !important;*/
    width: 100%;
}
.country_code th{
    /*width: 100%;*/
    border: solid blue 2px;



}

.country_code {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin:auto;
    padding: 5px;
    margins: 5px;
    /*width: 100px;*/
    padding: 10px;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
}

.country_code td {
    flex: 1;
    text-align: center;
    /*background: gradient(to right #F5EDC9, #FDD56A);*/
    background-color: #6ACBEA;   /* C9F5EB FCE37C FDEFB3 F5EDC9 FDEFB3 FCE37C #FDD56A; #FCE37C */
    margin-left: 5px;
    margin-right: 5px;
    border:  2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
    background: #EEEEEE;

/*;    # C4E8E6 C4DFE8 87A8B3
!* For browsers that do not support gradients *!*/
    /*background: -webkit-linear-gradient(#6ACBEA, #FCFCFC); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(#6ACBEA, #FCFCFC); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(#6ACBEA, #FCFCFC); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(#6ACBEA, #FCFCFC);*/

}


/*.table_country_detail economic_indicator {*/
    /*!*display: table;*!*/
    /*!*text-align: left;*!*/
    /*!*border-spacing: 0.5rem;*!*/
    /*!*border-collapse:collapse;*!*/
    /*!*!*align-content: left;*!*!*/
}


tr:hover{background-color:#C1C4C4;
        }

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    /*position: relative;*/
}

nav {
    padding-top: 100px;
}


body {
    padding-top: 100px;
    background: #ADD8E6;
    font-family: "Signika", Verdana, Arial, sans-serif;

}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
/* Temporary navbar container fix */

.navbar-toggler {
    z-index: 1;
}

@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }
}

.all_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*border: 2px solid darkblue;*/
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 100%;
    padding: 10px;
}


.row1 {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*border: 2px solid darkblue;*/
    border-radius: 10px;
}

.row2 {
    /*display: flex;*/
    /*flex-direction: column;*/
    align-content: center;
    position: relative;
    /*border: 2px solid darkblue;*/
    border-radius: 10px;

}

.row3 {
    display: flex;
    /*border: 2px solid darkblue;*/
    padding: 10px;
    justify-content:center;
    color: darkblue;
    background:#E8F5F6;
    border-radius: 10px;

}

#introtext{
    display:flex;
    align-items: center;
    background:#E8F5F6;
    /*#E8F5F6*/
    color: #013E85;
    /*04016D*/
    padding: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    align-content: center;
}

#graph1{
    display: flex;
    /*align-content: center;*/
    padding: 10px;
    justify-content: center;
}

#signup {
    font-family: "Signika", Verdana, Arial, sans-serif;
    display: flex;
    align-items: center;
    background: #013E85;
    /*#E8F5F6, #1902BB, 039BD4 */
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: black;
}

form {
  font-family: "Signika", Verdana, Arial, sans-serif;
  position: relative;
  left: 10px;
  top: 10px;
  align-content: center;
}

label {
  display: block;
}


. reg_message {
  text-align: center;

}


/*//////////////////////////*/

#page {
  display: grid;
  width: 100%;
  height: 300px;
  grid-template:
  /*[header-left] "head head" 30px [header-right]*!*/
                 [main-left]   "nav  main" 1fr  [main-right]
                 /*[footer-left] "nav  foot" 30px [footer-right]*/
                 / 120px 1fr;
}

header {
  background-color: #2E5966;
  grid-area: head;
  height: 10%;
  /*margin: 10%;*/
}

nav {
  display:flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
  vertical-align: text-top;
  background-color: #8DC8C7;
  grid-area: nav;
  padding-bottom: 80%;
  border-radius: 10px;
}

main {
  background-color: #FFFFFF; /* #E5F9FC */
  grid-area: main;
  border-radius: 10px;

}

.indicator {

    margin: 10px;
    text-align: justify;
    text-indent: 25px;
    vertical-align: text-top;
}


.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}


.bar--positive {
  fill: steelblue;
}

.bar--negative {
  fill: darkorange;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}




/*footer {*/
  /*background-color: red;*/
  /*grid-column: foot;*/
/*}*/



/*
ADD8E6  lightblue, BODY
6ACBEA  toy blue, accents
2E5966  emerald green, dark accents
87A8B3  sea blue, bars/dividers
58CB75  chartreuse, bright
8DC8C7  mint green
85BEAD  sage green

/////////
#F29D35   terracotta
*/