
.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    /*position: relative;*/
}

nav {
    padding-top: 100px;
}


body {
    padding-top: 100px;
    background: lightblue;
    font-family: "Signika", Verdana, Arial, sans-serif;

}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
/* Temporary navbar container fix */

.navbar-toggler {
    z-index: 1;
}

@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }
}

.all_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*border: 2px solid darkblue;*/
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 100%;
    padding: 10px;
}


.row1 {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*border: 2px solid darkblue;*/
    border-radius: 10px;
}

.row2 {
    /*display: flex;*/
    /*flex-direction: column;*/
    align-content: center;
    position: relative;
    /*border: 2px solid darkblue;*/
    border-radius: 10px;

}

.row3 {
    display: flex;
    /*border: 2px solid darkblue;*/
    padding: 10px;
    justify-content:center;
    color: darkblue;
    background:#E8F5F6;
    border-radius: 10px;

}

#introtext{
    display:flex;
    align-items: center;
    background:#E8F5F6;
    /*#E8F5F6*/
    color: #013E85;
    /*04016D*/
    padding: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    align-content: center;
}

#graph1{
    display: flex;
    /*align-content: center;*/
    padding: 10px;
    justify-content: center;
}

#signup {
    font-family: "Signika", Verdana, Arial, sans-serif;
    display: flex;
    align-items: center;
    background: #013E85;
    /*#E8F5F6, #1902BB, 039BD4 */
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: black;
}

form {
  font-family: "Signika", Verdana, Arial, sans-serif;
  position: relative;
  left: 10px;
  top: 10px;
  align-content: center;
}

label {
  display: block;
}


. reg_message {
  text-align: center;

}