/* https://bl.ocks.org/mlunacek/8431eed93c26c3a30434dd5e02a1652c
Stacked bar charts with negative values Monte Lunacek
*/

body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.axis path, .axis line {
fill: none;
stroke: rgb(170,255,50);   /* 88,203,117 */
shape-rendering: crispEdges;
}


.axis text {
  font-size: 10px;
  font-family: Signika;
  fill: rgb(69,135,155);
}

/*.axis path {*/
 /*fill: none;*/
 /*stroke: rgb(100,122,213);*/
 /*shape-rendering: crispEdges;*/
/*}*/

/*.axis line {*/
  /*fill: none;*/
  /*stroke: rgb(100,122,213);*/
  /*shape-rendering: crispEdges;*/
/*}*/

#page {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    /*[header-left] "head head" 30px [header-right]*/
    /*[main-left]   "nav  main" 1fr  [main-right]*/
    /*/*[footer-left] "nav  foot" 30px [footer-right]*/
    /*/ 120px 1fr;   !* 120px 1fr; *!*/
    }


.svg-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}



.wrapper2 {
  display: grid;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  padding-top: 10%;
  /*grid-template-columns: repeat(7, 1fr);*/
  /*grid-gap: 3px;*/
  /*grid-auto-rows: minmax(100px, auto);*/
  /*padding-top: 30%;*/
}

/*.one {*/
    /*display:flex;*/
    /*grid-column: 1 / 1;*/
    /*grid-row: 1;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*color: #FFFFFF;*/
    /*background-color: #2E5966;*/
    /*font-size: x-large;*/
    /*border-radius: 5px;*/
    /*!*opacity: .05;*!*/

/*}*/

#div1 {
    /*display: flex;*/
    /*justify-content:flex-start;*/
    width: 100% ;   /*1280px*/
    height: 100%;   /*720px*/
    /*padding-left: 5%;*/
    /*grid-column: 1 / 41;*/
    /*grid-row: 10 / 10;*/
    color: black;
    font-size: larger ;
    background-color: #FFFFFF; /* #E5F9FC * For browsers that do not support gradients    06aae0 */
    background: -webkit-linear-gradient(#ADD8E6, #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ADD8E6, #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ADD8E6, #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ADD8E6, #FFFFFF); /* Standard syntax */
    border-radius: 5px;
    /*opacity: .05;*/
}

/*.three {*/
    /*display:flex;*/
    /*flex-direction: column;*/
    /*vertical-align: top;*/
    /*justify-content: flex-start ;*/
    /*align-items: center;*/
    /*padding-top: 25%;*/
    /*grid-row: 2 / 7;*/
    /*grid-column: 1;*/
    /*background-color: #45879B;  !* 45879B 9ad6ad 95c9a5 a9e5bc d5efe8 8DC8C7 *!*/
    /*color: #FFFFFF;*/
    /*border-radius: 5px;*/
    /*opacity: .8;*/
/*}*/

/*.four {*/
    /*display:flex;*/
    /*align-items: center;*/
    /*justify-content: center;  !*vertical-align: middle;*!*/
    /*grid-column: 6 / 7;*/
    /*grid-row: 1 / 1;*/
    /*color: #FFFFFF;  !* 013E85 *!*/
    /*font-size: x-large;*/
    /*background-image: linear-gradient(#ADD8E6, #003973);*/
    /*background-color: #003973; !* #E5F9FC E5F9FC * For browsers that do not support gradients    06aae0 *!*/
    /*!*background: -webkit-radial-gradient(circle, #FFFFFF, #0059B2 ); !* For Safari 5.1 to 6.0 *!*!*/
    /*!*background: -o-radial-gradient(circle, #FFFFFF, #0059B2 ); !* For Opera 11.1 to 12.0 *!*!*/
    /*!*background: -moz-radial-gradient(circle, #FFFFFF, #0059B2 ); !* For Firefox 3.6 to 15 *!*!*/
    /*!*background: radial-gradient(circle, #FFFFFF, #0059B2 ); !* Standard syntax *!*!*/
    /*!*border-radius: 5px;*!*/
    /*border-radius: 5px;*/
    /*!*opacity: .7;*!*/
/*}*/
