/*.table_mastergrid th:first-child {*/

/*
ADD8E6  lightblue, BODY
6ACBEA  toy blue, accents
2E5966  emerald green, dark accents
87A8B3  sea blue, bars/dividers
58CB75  chartreuse, bright
8DC8C7  mint green
85BEAD  sage green
F29D35 terracotta
*/

p {
    font-size: larger;
	font-family: Signika;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 23px;
}

#table_para p{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    font-size: larger;
	font-family: Signika;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 25px;
}
    /*align-self: flex-start;*/

h5 {
    padding-top: 2%;
    text-align: center;
    color: #003973;  /*  003366 003973 */
}

.center{
    text-align: center;
}

.carousel_manager{
    margin-bottom: -5px;
    z-index: -1;


}

.headline {
    /*padding-top: 2%;*/
    margin-top: -50px;
    z-index: 5;
    bottom: 0;
    padding-bottom: 1%;
    display: flex;
    justify-content: center;
    font-size: larger;
	font-family: Signika;
	font-size: 25px;
	font-style: italic;
    color: #013E85;
}

#copywriting{
    display: flex;
    justify-content: center;
    font-size:  xx-large ;
	font-family: Signika;
    padding-top: 2%;
	/*font-size: 35px;*/
	font-style: normal;
    color: #013E85;
}

/*.carousel {*/

/*}*/

.slick-dots {
    top: 80%;
    center: 50%;
    height: 5px;
  /*margin-bottom:-50% ;*/
}
/*.slick-slide*/
/*{*/
  /*display: none;*/
  /*float: none;*/
  /*position: relative;*/
  /*height: 100%;*/
  /*min-height: 1px;*/
/*}*/

.table_header{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin:auto;
}

.table_header th {
    color: #000000;
}


.table_mastergrid {
    /*border: 1px solid black;*/
    margin-top: -5%;
    display: table;
    text-align: center;
    justify-content: space-between;
    border-collapse: separate;
    border-spacing: 75px;
}


/*}*/
.table_country_detail  {
    display: table;
    align-items: center;
    justify-content: center;
    /*text-align: center!important;*/
    /*border-spacing: 0.5rem!important;*/
    /*border-collapse: collapse !important;*/
    /*align-content: left !important;*/
    width: 100%;
}
.country_code td{
    /*!*width: 100%;*!*/
    /*width: 20px;*/
    /*border: solid blue 10px;*/
}

.country_code {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /*margin: auto;*/
    /*padding: 5px;*/
    margin: 5px;
    /*width: 100px;*/
    padding: 10px;
    border-radius: 5px;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
}


button:hover{background-color:#C1C4C4;
}

.button_iso2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    /*background: gradient(to right #F5EDC9, #FDD56A);*/
    background-color: #EEEEEE;   /* C9F5EB FCE37C FDEFB3 F5EDC9 FDEFB3 FCE37C #FDD56A; #FCE37C */
    margin-left: 30px;
    margin-right: 30px;
    border:  2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
    background: #EEEEEE;

    /*background-color: #FFFFFF; !* #E5F9FC * For browsers that do not support gradients    06aae0 *!*/
    background: -webkit-linear-gradient(#EEEEEE, #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEEEEE, #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEEEEE, #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEEEEE, #FFFFFF); /* Standard syntax */
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    /*position: relative;*/
}

nav {
    padding-top: 100px;
}


body {
    padding-top: 100px;
    background: #ADD8E6;
    font-family: "Signika", Verdana, Arial, sans-serif;
    font-size: larger;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
/* Temporary navbar container fix */

.navbar-toggler {
    z-index: 1;
}

@media (max-width: 576px) {
    nav > .container {
        margin: 0;
        width: 100%;
    }
}

.all_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*border: 2px solid darkblue;*/
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 100%;
    padding: 10px;
}


.row1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size:  xx-large ;
    margin-top: 1%;
    color: #003366;
    /*border: 2px solid darkblue;*/
    border-radius: 10px;
}

.row2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    margin-top: 3%;
    margin-bottom: 1%;
    /*color: ;*/
    /*border: 2px solid darkblue;*/
    border-radius: 10px;
}

.row3 {
    display: flex;
    flex-direction: row;
    /*margin-top: 1%;*/
    /*border: 2px solid darkblue;*/
    justify-content:center;
    /*color: darkblue;*/
    /*border-radius: 10px;*/
}

.row1_gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    color: #003366;
    /*border: 2px solid darkblue;*/
    border-radius: 10px;
}

.row2_gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-content: center;*/
    position: relative;
    margin-top: 5%;
    /*color: ;*/
    /*color: ;*/
    /*border: 2px solid darkblue;*/
    border-radius: 10px;

}

.square{
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 5px;
    padding: 5px 10px 10px;
    padding-bottom: 5px;
    align-content: center;
    border-radius: 10px;
    background-color: #E8F5F6; /* #E5F9FC * For browsers that do not support gradients    06aae0 */
    background: -webkit-linear-gradient(#FFFFFF, #E8F5F6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFFFFF, #E8F5F6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFFFF, #E8F5F6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFFFF, #E8F5F6); /* Standard syntax */
}

.square:hover{
    display: flex;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 5px;
    padding: 5px 10px 10px;
    padding-bottom: 5px;
    align-content: center;
    background-color: #E8F5F6; /* #E5F9FC * For browsers that do not support gradients    06aae0 */
    background: -webkit-linear-gradient(#FFFFFF, #E8F5F6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFFFFF, #E8F5F6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFFFF, #E8F5F6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFFF6, #E8F5F6); /* Standard syntax */
}

#background_grad_about{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    /*align-content: left;*/
    padding-top: 10px;
    margin-top: 10px;
    background:#E8F5F6;
    color: #003973;
    padding: 8px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    background-color: #E8F5F6; /* #E5F9FC * For browsers that do not support gradients    06aae0 */
    background: -webkit-linear-gradient(#FFFFFF, #E8F5F6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFFFFF, #E8F5F6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFFFF, #E8F5F6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFFFF, #E8F5F6); /* Standard syntax */
}
.background_grad{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-left: 2%;
    margin-right:2%;
    /*#E8F5F6*/
    color: #003973;
    /*04016D*/
    padding: 8px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    align-content: center;
    background-color: #E8F5F6; /* #E5F9FC * For browsers that do not support gradients    06aae0 */
    background: -webkit-linear-gradient(#F5F5F5, #E8F5F6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F5F5F5, #E8F5F6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F5F5F5, #E8F5F6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F5F5F5, #E8F5F6); /* Standard syntax */
}

#graph1{
    display: flex;
    /*align-content: center;*/
    padding: 10px;
    justify-content: center;
}

#signup {
    width: 90px;
    height: 50px;
    font-family: "Signika", Verdana, Arial, sans-serif;
    font-size: 20px;
    align-items: center;
    text-align: center ;
    padding-bottom: 10%;
    /*#E8F5F6, #1902BB, 039BD4 */
    color: #FFFFFF;
    border-radius: 10px;
    /*box-shadow: black;*/
    background: #003973;
    /*background: -webkit-linear-gradient(#C0C0C0, #003973); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(#C0C0C0, #003973); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(#C0C0C0, #003973); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(#C0C0C0, #003973); !* Standard syntax *!*/
    /*font-size: 20px;*/
    /*font-family: Signika;*/
    /*font-weight: 200;*/
    /*border-radius: 10px;*/
    /*box-shadow: 0px 1px 4px -2px #333;*/
    /*text-shadow: 0px -1px #333;*/
}

#signup:after{
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(#003973, #003973);
}


/*#signup:visited{*/
    /*color: white;*/
/*}*/

form {
  font-family: "Signika", Verdana, Arial, sans-serif;
  position: relative;
  left: 10px;
  top: 10px;
  align-content: center;
}

label {
  display: block;
}


.indicator div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 45%;
    text-transform: uppercase;
    /*align-content:flex-start;*/
    /*text-align: justify;*/
    /*text-indent: 25px;*/
    /*vertical-align: text-top;*/
    /*color: #FFFFFF;*/
}

.chart {
    display: block;     /* Added 06.28.17  https://stackoverflow.com/questions/27833908/svg-element-not-coming-inside-a-div*/
    float: right;
    width: 100%;
    height: 100%;
    /*width: 480px;*/
    /*height: 250px;*/
 }


.chart rect {
  fill: #69a4bf  ; /* 35b7b4 69a4bf  51a5cc 6fb0ce 69a4bf c7f9eb fce5b0 adf7e1; 85BEAD steelblue*/
}

.chart text {
  color: black;
  font: 10px sans-serif;
  text-anchor: end;
}


/*.bar--positive {*/
  /*fill: #69a4bf;*/
/*}*/

/*.bar--negative {*/
  /*fill: #f9c984;*/
/*}*/

/*.axis text {*/
  /*font: 10px sans-serif;*/
/*}*/

/*.axis path,*/
/*.axis line {*/
  /*fill: none;*/
  /*stroke: #000;*/
  /*shape-rendering: crispEdges;*/
/*}*/
/*footer {*/
  /*background-color: #f0ad4e;*/
  /*grid-column: foot;*/
/*}*/


.axis text {
font: 10px sans-serif;
}

.svg-container1{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    justify-content: flex-end;
    height: 100%;
    width: 100%;

 }

svg text.label {
  fill:black;
  font: large;
  font-weight: 400;
  text-anchor: middle ;
}

.bartext {
	fill: #FFFFFF;
	opacity: .9;
	font-weight: 300%;
	font-size : 1em;
}


.indicator_checkbox {
    padding-top: 10px ;
    vertical-align: middle;
    /*display: flex;*/
    /*veritical-align: text-top ;*/

}

.latest_year{
    text-align: center;
}

/*-------CSS GRID LAYOUT:-------*/

.wrapper1 {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
    display:flex;
    grid-column: 1 / 1;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #2E5966;
    font-size: x-large;
    border-radius: 5px;
    /*opacity: .05;*/

}
.two {
    display: flex;
    justify-content: space-around;
    /*margin-top: 20%;*/
    /*padding-left: 5%;*/
    grid-column: 2 / 7;
    grid-row: 1 / 7;
    color: black;
    font-size: larger ;
    background-color: #FFFFFF; /* #E5F9FC * For browsers that do not support gradients    06aae0 */
    background: -webkit-linear-gradient(#ADD8E6, #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ADD8E6, #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ADD8E6, #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ADD8E6, #FFFFFF); /* Standard syntax */
    border-radius: 5px;
    /*opacity: .05;*/
}

.three {
    display:flex;
    flex-direction: column;
    vertical-align: top;
    justify-content: flex-start ;
    align-items: center;
    padding-top: 25%;
    grid-row: 2 / 7;
    grid-column: 1;
    background-color: #45879B;  /* 45879B 9ad6ad 95c9a5 a9e5bc d5efe8 8DC8C7 */
    color: #FFFFFF;
    border-radius: 5px;
    opacity: .8;
}

.four {
    display:flex;
    align-items: center;
    justify-content: center;  /*vertical-align: middle;*/
    grid-column: 6 / 7;
    grid-row: 1 / 1;
    color: #FFFFFF;  /* 013E85 */
    font-size: x-large;
    background-image: linear-gradient(#ADD8E6, #003973);
    background-color: #003973; /* #E5F9FC E5F9FC * For browsers that do not support gradients    06aae0 */
    /*background: -webkit-radial-gradient(circle, #FFFFFF, #0059B2 ); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-radial-gradient(circle, #FFFFFF, #0059B2 ); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-radial-gradient(circle, #FFFFFF, #0059B2 ); !* For Firefox 3.6 to 15 *!*/
    /*background: radial-gradient(circle, #FFFFFF, #0059B2 ); !* Standard syntax *!*/
    /*border-radius: 5px;*/
    border-radius: 5px;
    /*opacity: .7;*/
}
.five {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 7;
    grid-row: 7 / 7;
}

.next_nav{
    z-index: 5;
    bottom: 0;
    padding-bottom: 1%;
    font-size: larger;
    font-family: Signika;
    color: #013E85;
    font-family: Signika;
    font-size: 50px;
    color: #013E85;
}

#tags{
    height: 10%;
    width: 20%;
}

#sandwich_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;   /* Because it's a column, align-items aligns by vertical  */
}

#country_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;   /* Because it's a column, align-items aligns by vertical  */
}



#sandwichbox{
    display: flex;
    flex-direction: row;
    justify-content: center;  /* Because it's a row, justify-content aligns by hor  */
}

#bread {
    display: flex;
    justify-content: center;
    padding-bottom: 3px;
    margin-bottom: 1px;
    width: 70px;
    height: 8px;
    background: #f0ad4e;
    opacity: .7;
    -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;
    border-radius: 20px;
}
#sandwich_wrapper div:not(#bread){
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    margin-bottom: 1px;
    width: 50px;
    height: 5px;
    border-radius: 10px;
    font: Signika;
    -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;
}

#IP_logo {
    background: #45879B;
    color: #003366;
}

#GDP_logo {
    background: #87A8B3;
    color: #003366;
}

#GNI_logo {
    background: #85BEAD;
    color: #003366;
}
#FDI_logo {
    background: #6ACBEA;
    color: #003366;
}

#reveal{
    opacity: 0;

}


#sandwich_wrapper #IP_logo:hover, #sandwich_wrapper #GDP_logo:hover, #sandwich_wrapper #GNI_logo:hover, #sandwich_wrapper #FDI_logo:hover{
    width: 100px;
    height: 20px;
}


#IP_logo:hover #reveal, #GDP_logo:hover #reveal, #GNI_logo:hover #reveal, #FDI_logo:hover #reveal{
  opacity: 1;
}


.home_links {
    font-family: "Signika", Verdana, Arial, sans-serif;
    font-size: x-large;
	font-weight: 500;
    padding-left: 7px;
    padding-right: 7px;
    /*padding-top: -5%;*/
    color: #003366;
    /*margin-bottom: 20%;*/
    margin-right: 2%;
    margin-left: 2%;
}

#footer_box{
    display: flex;
    flex-direction: row;
    /*margin-top: -1%;*/
    padding-bottom: 10%;
}

#flag{
    transform: scale(5, 5);
    height: 20px;
    width: 20px;
    margin: 15%;

}

.table_labels{
    font-size: 200px;
    /*display: inline-block;*/
    /*justify-content: center;*/
    /*margin: 15%; */
    /*justify-content: center;*/
}



/*#TM{*/
    /*font-family: Signika;*/
    /*font-size: small;*/
/*}*/

/*.five {*/
  /*grid-column: 2 / 8;*/
  /*grid-row: 3 / 8;*/
  /*background-color: grey;*/
  /*opacity: .25;*/
/*/}

/*

BODY TEXT W/ BACKGROUND.
E8F5F6  background for blue text;
003366  dark navy blue; body text IF! background:#E8F5F6; otherwise body text black

003973  dark blue headers

647AD5  periwinkle blue

45879b  turquoise dark
8DC8C7  turquoise light

ADD8E6  lightblue, BODY
6ACBEA  toy blue, accents
2E5966  emerald green, dark accents
87A8B3  sea blue, bars/dividers
58CB75  chartreuse, bright
85BEAD  sage green
/////////
#F29D35   terracotta
#F0AD4E   light orange
*/
