/* https://bl.ocks.org/mlunacek/8431eed93c26c3a30434dd5e02a1652c
Stacked bar charts with negative values Monte Lunacek
*/

/*.grid .tick {*/
    /*stroke: lightgrey;*/
    /*opacity: 0.7;*/
/*}*/
/*.grid path {*/
    /*stroke-width: 0;*/
/*}*/

body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#title {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  font-size: 30px;
  font-family: Signika;
  align-items: center;
  color: #003973;

}

.btn-group-lg {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*width: 200px;*/
    /*height: 100px;*/
    /*justify-content: space-around;*/
}


.iso_btn {
    position: relative;
	/*display: inline-block;*/
	/*padding: 5px 5px;*/
    width: 75px;
    display: flex;
    justify-content: center;
    margin:0 20px;
    /*font-size: larger ;*/
    background-color: #C0C0C0; /* #E5F9FC * For browsers that do not support gradients    06aae0 */
    background: -webkit-linear-gradient(#FFFFFF, #C0C0C0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFFFFF, #C0C0C0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFFFF, #C0C0C0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFFFF, #C0C0C0); /* Standard syntax */
    text-decoration: none;
	color: #003366;
	font-size: 25px;
	font-family: Signika;
	font-weight: 200;
    border-radius: 10px;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px #333;
}

.iso_btn:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.iso_btn:hover{
	background: linear-gradient(#E8F5F6,#808080);
}


.country_code{
    /*!*width: 100%;*!*/
    /*width: 15px;*/
    /*border: solid blue 10px;*/
}

.axis path, .axis line {
fill: none;
stroke: rgb(170,255,50);   /* 88,203,117 */
shape-rendering: crispEdges;
}


.axis text {
  font-size: 10px;
  font-family: Signika;
  fill: rgb(1,62,133);
}

/*.axis path {*/
 /*fill: none;*/
 /*stroke: rgb(100,122,213);*/
 /*shape-rendering: crispEdges;*/
/*}*/

/*.axis line {*/
  /*fill: none;*/
  /*stroke: rgb(100,122,213);*/
  /*shape-rendering: crispEdges;*/
/*}*/

#page {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 3%;
    /*[header-left] "head head" 30px [header-right]*/
    /*[main-left]   "nav  main" 1fr  [main-right]*/
    /*/*[footer-left] "nav  foot" 30px [footer-right]*/
    /*/ 120px 1fr;   !* 120px 1fr; *!*/
    }
#year_range_box{
    padding-left: 5%;
}

#year_range{
    /*display: flex;*/
    /*margin-left: 10px;*/
    width: 80%;
    height: 80%;
    font: Signika;
    font-size: x-large;
	color: #003973;
    /*justify-content: center;*/
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
}

.svg-container2 {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*height: 100%;*/
    /*width: 100%;*/

    display: flex;
    flex-direction: row;
    /*padding-left: 20%;*/
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    overflow: hidden;

}


.wrapper2 {
  display: grid;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: center;
  padding-top: 10%;
  /*grid-template-columns: repeat(7, 1fr);*/
  /*grid-gap: 3px;*/
  /*grid-auto-rows: minmax(100px, auto);*/
  /*padding-top: 30%;*/
}

/*.one {*/
    /*display:flex;*/
    /*grid-column: 1 / 1;*/
    /*grid-row: 1;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*color: #FFFFFF;*/
    /*background-color: #2E5966;*/
    /*font-size: x-large;*/
    /*border-radius: 5px;*/
    /*!*opacity: .05;*!*/

/*}*/

#two_panini {
    display: grid;
    /*justify-content:flex-start;*/
    width: 100% ;   /*1280px*/
    height: 78%;   /*720px*/
    padding-top: -10%;
    /*padding-left: 5%;*/
    /*grid-column: 1 / 41;*/
    /*grid-row: 10 / 10;*/
    color: black;
    font-size: larger ;
    background-color: #FFFFFF; /* #E5F9FC * For browsers that do not support gradients    06aae0 */
    background: -webkit-linear-gradient(#ADD8E6, #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ADD8E6, #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ADD8E6, #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ADD8E6, #FFFFFF); /* Standard syntax */
    border-radius: 5px;
    /*opacity: .05;*/
}

.three_panini {
    display:flex;
    flex-direction: row;
    width: 100% ;   /*1280px*/
    height: 10%;   /*720px*/
    /*vertical-align: top;*/
    justify-content: space-around;
    /*vertical-align: middle;*/
    align-items: center;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 3%;
    padding-bottom: 3%;
    /*grid-row: 2 / 7;*/
    /*grid-column: 1;*/
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #E8F5F6; /* #E5F9FC * For browsers that do not support gradients    06aae0 */
    background: -webkit-linear-gradient(#FFFFFF, #E8F5F6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFFFFF, #E8F5F6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFFFFF, #E8F5F6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFFFFF, #E8F5F6); /* Standard syntax */

    /*opacity: .8;*/
}

.four_panini {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8%;
    grid-column: 6 / 7;
    grid-row: 1 / 1;
    /*color: #FFFFFF;  !* 013E85 *!*/
    /*font-size: x-large;*/
    /*background-image: linear-gradient(#ADD8E6, #003973);*/
    /*background-color: #003973; !* #E5F9FC E5F9FC * For browsers that do not support gradients    06aae0 *!*/
    /*!*background: -webkit-radial-gradient(circle, #FFFFFF, #0059B2 ); !* For Safari 5.1 to 6.0 *!*!*/
    /*!*background: -o-radial-gradient(circle, #FFFFFF, #0059B2 ); !* For Opera 11.1 to 12.0 *!*!*/
    /*!*background: -moz-radial-gradient(circle, #FFFFFF, #0059B2 ); !* For Firefox 3.6 to 15 *!*!*/
    /*!*background: radial-gradient(circle, #FFFFFF, #0059B2 ); !* Standard syntax *!*!*/
    /*!*border-radius: 5px;*!*/
    /*border-radius: 5px;*/
    /*!*opacity: .7;*!*/
}

#save_collection {
    width: 90px;
    height: 50px;
    font-family: "Signika", Verdana, Arial, sans-serif;
    font-size: larger;
    align-items: center;
    text-align: center ;
    background: #013E85;
    /*#E8F5F6, #1902BB, 039BD4 */
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: black;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}

/* font {
  font: Signika;
} */














/*
BODY TEXT W/ BACKGROUND.
E8F5F6  background for blue text;
003366  dark navy blue; body text IF! background:#E8F5F6; otherwise body text black
003973  dark blue headers
647AD5  periwinkle blue

45879b  turquoise dark
ADD8E6  lightblue, BODY
6ACBEA  toy blue, accents
2E5966  emerald green, dark accents
87A8B3  sea blue, bars/dividers
58CB75  chartreuse, bright
8DC8C7  mint green
85BEAD  sage green
/////////
#F29D35   terracotta
#f0ad4e   light orange
*/
