/* https://bl.ocks.org/mlunacek/8431eed93c26c3a30434dd5e02a1652c
Stacked bar charts with negative values Monte Lunacek
*/

body{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.axis text {
  font-size: 9px;
  font-family: sans-serif;
  fill: rgb(169, 178, 189);
}

.axis path {
 fill: none;
 stroke: rgb(169, 178, 189);
 shape-rendering: crispEdges;
}

.axis line {
  fill: none;
  stroke: rgb(169, 178, 189);
  shape-rendering: crispEdges;
}

#page {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template:
    /*[header-left] "head head" 30px [header-right]*!*/
    [main-left]   "nav  main" 1fr  [main-right]
    /*!*[footer-left] "nav  foot" 30px [footer-right]*!*/
    / 120px 1fr;   /* 120px 1fr; */
    }

nav {
    display:flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    vertical-align: text-top;
    background-color: #45879b;  /* 9ad6ad 95c9a5 a9e5bc d5efe8 8DC8C7 */
    grid-area: nav;
    padding-top: 100%;
    padding-bottom: 80%;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    /*align-content: flex-start;*/
    /*flex-wrap: wrap;*/
    padding-left: 10%;
    padding-top: 5%;
    grid-area: main;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF; /* #E5F9FC * For browsers that do not support gradients    06aae0 */
    background: -webkit-linear-gradient(#ADD8E6, #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ADD8E6, #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ADD8E6, #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ADD8E6, #FFFFFF); /* Standard syntax */
}