/*.table_mastergrid th:first-child {*/

/*
ADD8E6  lightblue, BODY
6ACBEA  toy blue, accents
2E5966  emerald green, dark accents
87A8B3  sea blue, bars/dividers
58CB75  chartreuse, bright
8DC8C7  mint green
85BEAD  sage green
F29D35 terracotta
*/

p {
    font-size: larger;
	font-family: Signika;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 25px;
}

li {
    font-size: larger;
	font-family: Signika;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 25px;
}

h5 {
    padding-top: 2%;
    text-align: center;
    color: #003973;  /*  003366 003973 */
}

.table_header{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin:auto;
}

.table_header th {
    color: #000000;
}


.table_mastergrid {
    /*border: 1px solid black;*/
    display: table;
    text-align: center;
}


/*}*/
.table_country_detail  {
    display: table;
    align-items: center;
    justify-content: center;
    /*text-align: center!important;*/
    /*border-spacing: 0.5rem!important;*/
    /*border-collapse: collapse !important;*/
    /*align-content: left !important;*/
    width: 100%;
}
.country_code td{
    /*!*width: 100%;*!*/
    /*width: 20px;*/
    /*border: solid blue 10px;*/
}

.country_code {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /*margin: auto;*/
    /*padding: 5px;*/
    margin: 5px;
    /*width: 100px;*/
    padding: 10px;
    border-radius: 5px;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
}


button:hover{background-color:#C1C4C4;
}

.button_iso2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    /*background: gradient(to right #F5EDC9, #FDD56A);*/
    background-color: #EEEEEE;   /* C9F5EB FCE37C FDEFB3 F5EDC9 FDEFB3 FCE37C #FDD56A; #FCE37C */
    margin-left: 30px;
    margin-right: 30px;
    border:  2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
    background: #EEEEEE;

    /*background-color: #FFFFFF; !* #E5F9FC * For browsers that do not support gradients    06aae0 *!*/
    background: -webkit-linear-gradient(#EEEEEE, #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEEEEE, #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEEEEE, #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEEEEE, #FFFFFF); /* Standard syntax */
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    /*position: relative;*/
}

nav {
    padding-top: 100px;
}


body {
    padding-top: 100px;
    background: #ADD8E6;
    font-family: "Signika", Verdana, Arial, sans-serif;

}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}
/* Temporary navbar container fix */

.navbar-toggler {
    z-index: 1;
}

@media (max-width: 576px) {
    nav > .container {
        width: 100%;
    }
}

.all_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*border: 2px solid darkblue;*/
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 100%;
    padding: 10px;
}


.row1 {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*border: 2px solid darkblue;*/
    border-radius: 10px;
}

.row2 {
    /*display: flex;*/
    /*flex-direction: column;*/
    align-content: center;
    position: relative;
    /*border: 2px solid darkblue;*/
    border-radius: 10px;
}

.row3 {
    display: flex;
    /*border: 2px solid darkblue;*/
    padding: 10px;
    justify-content:center;
    color: darkblue;
    background:#E8F5F6;
    border-radius: 10px;
}

#introtext{
    display:flex;
    align-items: center;
    background:#E8F5F6;
    /*#E8F5F6*/
    color: #003973;
    /*04016D*/
    padding: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius: 10px;
    align-content: center;
}

#graph1{
    display: flex;
    /*align-content: center;*/
    padding: 10px;
    justify-content: center;
}

#signup {
    font-family: "Signika", Verdana, Arial, sans-serif;
    display: flex;
    align-items: center;
    background: #013E85;
    /*#E8F5F6, #1902BB, 039BD4 */
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: black;
}

form {
  font-family: "Signika", Verdana, Arial, sans-serif;
  position: relative;
  left: 10px;
  top: 10px;
  align-content: center;
}

label {
  display: block;
}


.indicator {

    text-align: justify;
    text-indent: 25px;
    vertical-align: text-top;
    color: #45879b;
}

.chart {
    display: block;     /* Added 06.28.17  https://stackoverflow.com/questions/27833908/svg-element-not-coming-inside-a-div*/
    float: right;
    width: 100%;
    height: 100%;
    /*width: 480px;*/
    /*height: 250px;*/
 }


.chart rect {
  fill: #69a4bf  ; /* 35b7b4 69a4bf  51a5cc 6fb0ce 69a4bf c7f9eb fce5b0 adf7e1; 85BEAD steelblue*/
}

.chart text {
  color: black;
  font: 10px sans-serif;
  text-anchor: end;
}


/*.bar--positive {*/
  /*fill: #69a4bf;*/
/*}*/

/*.bar--negative {*/
  /*fill: #f9c984;*/
/*}*/

/*.axis text {*/
  /*font: 10px sans-serif;*/
/*}*/

/*.axis path,*/
/*.axis line {*/
  /*fill: none;*/
  /*stroke: #000;*/
  /*shape-rendering: crispEdges;*/
/*}*/
/*footer {*/
  /*background-color: #f0ad4e;*/
  /*grid-column: foot;*/
/*}*/


.axis text {
font: 10px sans-serif;
}
.axis path, .axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}



.svg-container{
    display: flex;
    flex-direction: row;
    /*justify-content: flex-end;*/
    height: 100%;
    width: 100%;

 }

svg text.label {
  fill:black;
  font: large;
  font-weight: 400;
  text-anchor: middle ;
}

.bartext {
	fill: #FFFFFF;
	opacity: .9;
	font-weight: 300%;
	font-size : 1em;
}


.indicator_checkbox {
    /*display: flex;*/
    text-align: end ;

}

.latest_year{
    text-align: center;
}


.wrapper {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
    display:flex;
    grid-column: 1 / 1;
    grid-row: 1;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #2E5966;
    font-size: x-large;
    border-radius: 5px;
    /*opacity: .05;*/

}
.two {
    display: flex;
    justify-content: space-around;

    /*padding-left: 5%;*/
    grid-column: 2 / 7;
    grid-row: 1 / 7;
    color: black;
    font-size: larger ;
    background-color: #FFFFFF; /* #E5F9FC * For browsers that do not support gradients    06aae0 */
    background: -webkit-linear-gradient(#ADD8E6, #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ADD8E6, #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ADD8E6, #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ADD8E6, #FFFFFF); /* Standard syntax */
    border-radius: 5px;
    /*opacity: .05;*/
}

.three {
    display:flex;
    flex-direction: column;
    vertical-align: top;
    justify-content: flex-start ;
    align-items: center;
    padding-top: 25%;
    grid-row: 2 / 7;
    grid-column: 1;
    background-color: #45879B;  /* 45879B 9ad6ad 95c9a5 a9e5bc d5efe8 8DC8C7 */
    color: #FFFFFF;
    border-radius: 5px;
    opacity: .8;
}

.four {
    display:flex;
    align-items: center;
    justify-content: center;  /*vertical-align: middle;*/
    grid-column: 6 / 7;
    grid-row: 1 / 1;
    color: #FFFFFF;  /* 013E85 */
    font-size: x-large;
    background-image: linear-gradient(#ADD8E6, #003973);
    background-color: #003973; /* #E5F9FC E5F9FC * For browsers that do not support gradients    06aae0 */
    /*background: -webkit-radial-gradient(circle, #FFFFFF, #0059B2 ); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-radial-gradient(circle, #FFFFFF, #0059B2 ); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-radial-gradient(circle, #FFFFFF, #0059B2 ); !* For Firefox 3.6 to 15 *!*/
    /*background: radial-gradient(circle, #FFFFFF, #0059B2 ); !* Standard syntax *!*/
    /*border-radius: 5px;*/
    border-radius: 5px;
    /*opacity: .7;*/
}

/*.five {*/
  /*grid-column: 2 / 8;*/
  /*grid-row: 3 / 8;*/
  /*background-color: grey;*/
  /*opacity: .25;*/
/*}*/







/*
003973  dark blue headers
#003366 dark navy blue; body text if background:#E8F5F6; otherwise body text black

647AD5  periwinkle blue

45879b  turquoise dark
ADD8E6  lightblue, BODY
6ACBEA  toy blue, accents
2E5966  emerald green, dark accents
87A8B3  sea blue, bars/dividers
58CB75  chartreuse, bright
8DC8C7  mint green
85BEAD  sage green
/////////
#F29D35   terracotta
#f0ad4e   light orange
*/
