{% extends 'base.html' %}

{% load static %}

{% block extra_head %}

{% endblock %}

{% block content %}



    <div class='profile_form'>

{#        {% if form.errors %}    #}
            {% for field, errors in form.errors.items %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <strong>{{ field }}</strong> {% for error in errors %}{{ error }}{% endfor %}
                </div>
            {% endfor %}
{#        {% endif %}#}

        <form action="" method="POST">

            {% csrf_token %} {# cross site request forgery; prohibits making a fake token #}

            {{ form.as_p }}

            <button class=".active .btn">Register</button>

        </form>
    </div>


{% endblock %}
