{% extends 'base.html' %}
{% load static %}
{% block content %}

<article id="background_grad">
 <h5> Why DataPanino? </h5>

<p>
'Stacked' bar charts look like tall sandwiches. "Panino" in Italian, means "sandwich." Our
name, "DataPanino," makes data quickly "digestible" in context of other indicators. Hence, our name.
If our charts make you hungry, I recommend patronizing your favorite local neighborhood restaurant.
I understand that staring at charts can be boring. That's why a unique model, a "data deli", helps you
build a custom visualization of your own "data sandwich."  You can save your views as part of
your research if you like. For the seriously hungry, we recommend you save custom views to your profile.
DataPanino's target audience is analysts, economists, and investors. But of course, anyone can use it.

</p>

<h5> Intellectual property sales</h5>
{#http://ec.europa.eu/eurostat/statistics-explained/index.php/Intellectual_property_rights_statistics#}
{#<--! START HERE: Flesh out rationale for choosing the seven countries. Complete analysis of eurostat numbers. -->#}

<p>
Global economic data shows an explosive growth rate of 5435.6% from 1975-2016 for patents, copyrights, and trademarks
, collectively, intellectual property (IP). World Bank data shows "charges for the use of intellectual property, receipts", or IP sales,
grew from $5.9B USD in 1975 to $326.6B USD in 2016. Compared with other economic indicators, IP sales presents
an interesting bellwether for understanding how countries across the world innovate, develop, design, and engineer new
ideas&mdash;<i>as well as license and sell branding, design, and creativity in the arts.</i>  This web application uses
the <a href="https://datahelpdesk.worldbank.org/knowledgebase/articles/889392-api-documentation">World Bank API</a>&nbsp;
to draw comparisons between IP and other economic indicators, providing insight on how IP contributes to overall growth.
</p>

<p>
DataPanino provides you with data visualizations, a tool for insight into IP sales in context of other economic
indicators. I want to give analysts a tool to see relevant data in the context of economic growth. It's that simple.
DataPanino allows you to see four major economic indicators together:
</p>
<item>
<li> IP, Intellectual Property Sales </li>
<li> GNI, &nbsp;Gross National Income </li>
<li> GDP, &nbsp;Gross Domestic Product </li>
<li> FDI, &nbsp;Foreign Direct Investment</li>
{#  Define EUTM  #}
</item>
<p>
</p>

<h5> Why choose these seven European countries?</h5>

<p>
Also, from 1975-2016, the European Union (EU) saw an increase from $1.4B USD to $124B USD in IP sales.
That's an 8757% increase. While the United States and China show higher IP sales, the European Union has
become highly competitive, especially since 2005.

<a href="http://ec.europa.eu/eurostat/statistics-explained/index.php?title=Intellectual_property_rights_statistics&stable=0#Context">
Eurostat</a> states: "Based on the number of trademark applications made in 1996-2015, the
leading European countries in terms of EUTM protection are Germany, the United Kingdom, Italy, Spain, France, the Netherlands and Switzerland."
</p>
{#  Define COMMUNITY DESIGN #}
{#   http://appsso.eurostat.ec.europa.eu/nui/submitViewTableAction.do  #}
<p>
For IP, or "community designs filed," from 2006 to 2016, the same 7 countries hold the highest
average in the European Union, with one exception. (For that same period, Poland averaged 2611
community designs filed whereas Switzerland averaged 2227 and the Netherlands averaged 2193.)

However, I chose these seven countries based on two criteria: European Union trade mark and IP sales (EUTM and IP).
Therefore, I selected Germany, the United Kingdom, Italy, Spain, France, the Netherlands and Switzerland because
they ranked highest in both criteria combined.

</p>

</article>



{# http://ec.europa.eu/eurostat/statistics-explained/index.php/Intellectual_property_rights_statistics #}



{#http://appsso.eurostat.ec.europa.eu/nui/submitViewTableAction.do#}
{##}
{#https://ec.europa.eu/growth/industry/intellectual-property_en#}












{% endblock %}
