{% extends 'base.html' %}
{% load static %}




{% content block %}



<H3> Why choose these seven European countries?</H3>

http://ec.europa.eu/eurostat/statistics-explained/index.php?title=Intellectual_property_rights_statistics&stable=0#Context
<--! START HERE: Flesh out rationale for choosing the seven countries. Complete analysis of eurostat numbers. -->



"Charges for the use of intellectual property, receipts", or IP sales, grew from
5.9 Billion in 1975 to 326.6 in 2016, per the World Bank,.  An  explosive growth rate of 5435.6%
in 41 years shows how technology, including patents, copyrights, and trademarks, has outpaced other sectors.
In context of other economic indicators, IP sales presents an interesting bellwether for understanding how
countries across the world innovate, develop, design, and engineer new ideas, and license and
sell usage in branding, design, and creativity in the arts.  DataPanino's target audience is analysts,
economists, and investors. But of course, anyone can use it.


<h3> Why choose these seven European countries?</h3>

In that same period, the European Union saw an increase from 1.4 Billion in 1975 to 125.5 Billion in 2016.
That's a 8864.3% increase. While other countries around the world show higher figures of IP sales,
the European Union has shown explosive growth, and subsequently become highly competitive
compared with the United States, China, and India in IP sales.



<h3> Why DataPanino? </h3>

'Stacked' bar charts look like tall sandwiches. "Panino" in Italian, means "sandwich." Our
name, "DataPanino," makes data quickly understandable in context of other indicators. If our charts make you hungry,
we're sorry. We understand that staring at charts to understand the impact of data points and trends can get boring.
So we developed a new way for you to build your own DataPanino, or "data sandwich."





DataPanino provides you with data visualizations, as a tool for insight into IP sales in context of other economic
indicators. DataPanino allows you to see four major economic indicators:

<ul> IP, 'Intellectual Property Sales' </ul>
<ul> GNI, 'Gross National Income' </ul>
<ul> GDP, 'Gross Domestic Product' </ul>
<ul> FDI, 'Foreign Direct Investment'</ul>





{#  Define EUTM  #}
{# http://ec.europa.eu/eurostat/statistics-explained/index.php/Intellectual_property_rights_statistics #}

Based on the number of trademark applications made in 1996-2015, the
leading European countries in terms of EUTM protection are
Germany, the United Kingdom, Italy, Spain, France, the Netherlands and Switzerland.

{#  Define COMMUNITY DESIGN #}
{#   http://appsso.eurostat.ec.europa.eu/nui/submitViewTableAction.do  #}

* http://appsso.eurostat.ec.europa.eu/nui/submitViewTableAction.do













{% end block%}
