<!DOCTYPE html>
<html lang="en">

{% load static %}    {# static is similar to the import statement.  #}

<head>
    <meta charset="UTF-8">
    <title>DataPanino</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DataPanino: Make my data sandwich</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- My STYLESHEET for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_panini.css' %}">

    <!--FONTS--->
    <link href="https://fonts.googleapis.com/css?family=Signika|Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Signika:300" rel="stylesheet">

    {% block extra_head %}
    {% endblock %}


</head>

    <body>

        <!-- Navigation -->
        {%  include "nav.html" %}

        <!-- Page Content -->

         <div class="all_container">

        {#This simply inputs the contents of the nav.html page. #}
        {% include "nav.html" %}

        {% block title %}
                    <title>Title</title>
        {% endblock %}

        {# Top #}
        {% block headline %}
        {% endblock %}

        {# Middle #}

         <section class="container content">


            {% block content %}

            {% endblock %}

            {% block country %}
            {% endblock %}

{#            {% block france %}#}
{#            {%  endblock %}#}
{##}
{#            {% block germany %}#}
{#            {%  endblock %}#}
{##}
{#            {% block italy %}#}
{#            {%  endblock %}#}
{##}
{#            {% block netherlands %}#}
{#            {% endblock %}#}
{##}
{#            {% block spain %}#}
{#            {% endblock%}#}
{##}
{#            {% block switzerland %}#}
{#            {% endblock %}#}
{##}
{#            {% block united_kingdom %}#}
{#            {%  endblock %}#}

         </section>


        {% block main %}
        {% endblock %}

        {# Bottom #}
        {% block footer %}
        {% endblock %}

        {# Graph #}
        {% block graph %}
        {% endblock %}

        </div>

        <!-- Bootstrap core JavaScript -->
        <script src= "{% static 'vendor/jquery/jquery.js' %}"></script>
        {#    <script src="static/vendor/jquery/jquery.min.js"></script>#}

        <script src= "{% static 'vendor/tether/tether.js' %}"></script>
        {#    <script src="static/vendor/tether/tether.min.js"></script>#}

        <script src= "{% static 'vendor/bootstrap/js/bootstrap.js' %}"></script>
        {#    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>#}


        {% block extra_js %}

        {% endblock %}


    </body>

</html>



