{% extends "base.html" %}
{% load static %}

{% block content  %}

<section id="page">

<header>
</header>

<section class=".wrapper">

    {% autoescape off %}
        <script>

          var data = {{ chart_data }};
          var q = d3.queue();

        </script>
    {% endautoescape %}


    <div id="div1">
        <svg viewBox="0 0 1230 675" class="svg-container">
        </svg>
    </div>

    <div id="slider-range"></div>

<p>
  <label for="amount"></label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>



</section>

<script>
</script>

{% endblock %}


{% block extra_js %}

    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/stacked_bar.js"></script>
    <script src="{% static 'js/lodash.js' %}"></script>   {# Has to be loaded before below is executed.  #}
    <script src="{% static 'js/script_historybar.js' %}"></script>
    <script src="https://d3js.org/d3-queue.v3.min.js"></script>

{#    <script src="{% static 'js/colores.js' %}"></script>#}

{% endblock %}