{% extends 'base.html' %}
{% load static %}


    {% block country %}

        <table class="country_detail" xmlns="http://www.w3.org/1999/html">
            <tr>
                <td colspan="8">
                    ROW FOR COUNTRY CODES!
                {% for country in country_code %}
                    {{ country }}
                {% endfor %}
                </td>
            </tr>



            <tr>
                <td>
                {% for select in selection %}    {# pane, data #}
                    {{ select }}
                {% endfor %}

{#                <td>#}
{#                    {% for data in country_code %}#}
{#                       {{ data }}#}
{#                    {%  endfor %}#}
{#                </td>#}
                </td>
            </tr>


        </table>

    {%  endblock %}



