{% extends "base.html" %}
{% load static %}
{% block content %}


<table class="table_country_detail" colspan="8">   {#  #}

	    <thead>
            <tr>
                <td>
                <H5> Build Your Own DataPanino</H5>
                </td>
            </tr>
            <tr class="table_header">
                <th>
                    <div>
                    One economic indicator is selected by default for a country.
                    </div>
                    <p>
                    Select a checkbox to add another indicator to see correlations between data for one year.
                    </p>
                </th>
            </tr>

            <tr class="country_code">

                {% for country in countries %}
                    <td>
                    <button class="button_iso2">
                    {{ country.code|upper}}{{ country.flag }}    {# TODO: increase size of flags #}
                    </button>
                    </td>
                {% endfor %}
            </tr>
	    </thead>
</table>


<div class="wrapper1">

  <div class="one"> {# TODO: How to programatically match 2-digit country code with URL page? #}

<article id="sandwichbox">
    <item id="country_wrapper">
        <div id="bread"></div>
            <a id="CH"><span id="reveal">CH</span></a>
            <a id="DE"><span id="reveal">DE</span></a>
            <a id="ES"><span id="reveal">ES</span></a>
            <a id="FR"><span id="reveal">FR</span></a>
            <a id="IT"><span id="reveal">IT</span></a>
            <a id="NL"><span id="reveal">NL</span></a>
            <a id="UK"><span id="reveal">UK</span></a>
        <div id="bread"></div>
    </item>
    </article>


{##}
{##}
{##}
{#        <div class="ui-widget">#}
{#        <label for="tags">Country Code:</label>#}
{#        <input id="tags">#}
{#        </div>#}

{#      {{ country.code }}#}



{#        <form action="/action_page.php">#}
{#            <select name="Country">#}
{#            {% for country in countries %}#}
{#                <option id="{{ country.code }}">#}
{#                        {{ country.code }}#}
{#                </option>#}
{#            </select>#}
{#            {%  endfor %}#}
{#        <br><br>#}
{#        <input type="submit">#}
{#</form>#}



  </div>

  <div class="two">
    {#Two#}
      <script>
          {% autoescape off %}    {#    #}

              var data = {{ chart_data }};

          {% endautoescape %}
      </script>

      <div class="svg-container1">  <!--preserveAspectRatio="xMaxYMax meet"  -->
        <svg viewBox="0 0 960 500" class="chart">
      </svg>
      </div>

  </div>

  <div class="three indicator" id="indicators">
{#Three#}
      {% for indicator, data in indicators.items %}  {# ordered_indicators accessed from views #}
          <div id="{{ indicator }}">
            {{ indicator }} &nbsp;
            <input type="checkbox" class="indicator_checkbox" {% if type == indicator %} checked="true" {% endif %}>
          </div>
      {% endfor %}
  </div>


  <div class="four">
    {{ latest_year }}    <!--TODO: Change variable to match data retrieved for specific year.-->
  </div>


{% endblock %}


{% block extra_js %}
<script src="https://d3js.org/d3.v3.min.js"  charset="utf-8"></script>

{#<script src="{% static 'js/script_bar.js' %}"></script>#}
{#<script src="{% static 'js/script_negbar.js' %}"></script>#}
<script src="{% static 'js/script_barmix.js' %}"></script>

{% endblock %}
