{% extends "base.html" %}
{% load static %}
{% block content %}




    <table class="table_mastergrid">

	    <thead>
            <tr>
                <th colspan="8" > <H4>Countries Overview: Economic Indicators</H4><br/>

                    Start building your DataPanino. Select the country's flag that corresponds to the desired
                    economic indicator.  <br/>Think of this as the type of bread you want for your data sandwich.
                    It's the basis on which you add other ingredients.
                </th><br/>
            </tr>
            <tr>

            </tr>
                <tr>
                    <th>
                        &nbsp;<div>&nbsp</div>
                    </th>
                    {% for country in countries %}

                        <th>
                        {{ country|title }}
                        </th>

                    {% endfor %}
		    </tr>
	    </thead>

        {%  for indicator_name, data in ordered_indicators %}   {# ordered_indicators accessed from views #}

		<tr>
			<td>
				{{ indicator_name }}
			</td>
            {% for country, indicator, flag in data %}
            <td>
                <a href="/country/{{ country }}/{{ indicator }}/">{{ flag }}</a>
            </td>

            {% endfor %}
            </tr>
        <tr>
                <td>
                </td>
        </tr>


		{% endfor %}


    </table>




{% endblock %}


{#            {%  for country_tuple in ordered_indicators %}#}
{#                  <tr>#}
{#                    {{ country_tuple }}#}
{#                  </tr>#}
{##}
{#            {% endfor %}#}


{#           {% for country, type in data %}#}
{#            <td>#}
{#				{{ country }}#}
{#                <img src="{% static "img/france_flag.png" %}" class="fr_flag">#}
{#			</td>#}
{#			{% endfor %}#}


{#                <td>{% for country in composite %}#}
{#                    {{ country}}    {# loop variable: economic_snapshot; pulls from economic_snapshots in views.py#}
{#                {% endfor %}#}


{#            {%  for economic_snapshot in economic_snapshots %}#}
{#            <tr>#}
{#                <td class="{% cycle 'row1' 'row2' as rowcolors %}">...</td>#}
{#                    <td class="{{ economic_snapshot.country }}">...</td>#}
{#                    </tr>#}
{#                     <tr>#}
{#                    <td class="{% cycle economic_snapshot.type %}">...</td>#}
{#                    <td class="{{ economic_snapshot.year }}">...</td>#}
{#            </tr>#}
{#           {% endfor %}#}



{##}
{##}
{#                country_alldata = {{ economic_snapshot.country, economic_snapshot.type, economic_snapshot.year }}#}
{##}
{#                <div class="country_all_data"></div>#}


{#            {% for economic_snapshot in economic_snapshots %}#}
{#                <tr>#}
{#                    <td>{{ economic_snapshot.country}}<td/>   {# loop variable: economic_snapshot; pulls from views.py#}
{#                    <td>{{ economic_snapshot.type}}</td>      {# is type iterable? How to get IP, GDP, GNI, FDI#}
{#                    <td>{{ economic_snapshot.year}}</td>#}
{#                </tr>#}
{##}
{##}
{#            {% endfor %}#}






